.constructor-stats__container {
  display: grid;
  row-gap: 3rem;
  grid-template-columns: 35% 30% 35%;
}

@media (max-width: 60rem) {
  .constructor-stats__container {
    grid-template-columns: 1fr;
  }
}
