.weekend-card__container {
  height: 100%;
  width: 85%;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
  
  border-top: 3px solid var(--secondary);
  border-left: 3px solid var(--secondary);
  border-radius: 3px;
  border-top-left-radius: 8px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.weekend-card__container.active {
  background: green;
}
.weekend-card__container.next {
  background: orange;
}
.weekend-card__container:hover,
.weekend-card__container:active {
  background: #ddd;
}

/* basic info */
.weekend-card__container .weekend-title {
  margin-bottom: 0.2rem;

  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 1px 1px 5px rgba(50, 50, 50, 0.3);
  text-decoration: underline;
}
.weekend-card__container .weekend-date {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: lighter;
}
.weekend-card__container .race-time {
  color: var(--text-color);
  font-size: 2rem;
}

/* sprint info */
.weekend-card__container .sprint-container .sprint-warn {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  color: var(--text-color);
  font-size: 1.8rem;
  text-decoration: overline;
  text-shadow: 1px 1px 0 rgba(50, 50, 50, 0.3);
}
.weekend-card__container .sprint-container .sprint-time {
  font-size: 1.5rem;
  font-weight: lighter;
}
.weekend-card__container .sprint-container .sprint-time:first-of-type {
  margin-right: 1rem;
}

/* date container & icons */
.weekend-card__container .weekend-date__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weekend-card__container .weekend-date__container > .time {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weekend-card__container .weekend-date__container > svg {
  color: #555;
}
.weekend-card__container .weekend-date__container > span {
  margin-left: 0.5rem;
}


/* link buttons */
.weekend-card__container .weekend-links__container > a.weekend-results__btn {
  margin: 0.8rem auto 0;
  padding: 0.3rem 0.7rem;
  background: var(--primary);
  border-radius: 4px;
  box-shadow: 2px 1px 2px 1px rgba(50, 50, 50, 0.3);

  font-size: 1.25rem;
  letter-spacing: 1px;
  color: var(--text-color-light);
}
.weekend-card__container .weekend-links__container > a.weekend-results__btn:hover,
.weekend-card__container .weekend-links__container > a.weekend-results__btn:active {
  background: var(--highlight);
}
.weekend-card__container .weekend-links__container > a.weekend-wiki__btn {
  width: fit-content;
  margin: 0.4rem auto;

  font-size: 1.1rem;
  text-decoration: underline;
  color: var(--text-color);
}

/* card footer */
.weekend-card__container .round {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.4rem;

  border-right: 3px solid var(--secondary);
  border-bottom: 3px solid var(--secondary);
  border-radius: 3px;
  border-bottom-right-radius: 8px;

  color: var(--primary);
  font-size: 1.8rem;
  font-weight: 800;
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.3);
}

@media (max-width: 95rem) {
  .weekend-card__container {
    width: 35vw;
  }
}

@media (max-width: 60rem) {
  .weekend-card__container {
    width: 60vw;
  }
}

@media (max-width: 40rem) {
  /* card basic info */
  .weekend-card__container .weekend-title {
    font-size: 1.5rem;
  }
  .weekend-card__container .weekend-date {
    font-size: 1.2rem;
  }
  .weekend-card__container .race-time {
    font-size: 1.6rem;
  }

  /* card sprint info */
  .weekend-card__container .sprint-container .sprint-warn {
    font-size: 1.5rem;
  }
  .weekend-card__container .sprint-container .sprint-time {
    font-size: 1.2rem;
    font-weight: 400;
  }

  /* card links */
  .weekend-card__container .weekend-links__container > a.weekend-results__btn {
    font-size: 1rem;
  }
  .weekend-card__container .weekend-links__container > a.weekend-wiki__btn {
    font-size: 1rem;
  }
}