.loading-schedule-content__wrapper {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem 1rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.loading-schedule-content__wrapper .loading-title {
  width: 30rem;
  margin: auto;
  grid-column: 1 / 4;
}
.loading-schedule-content__wrapper .loading-element {
  height: 80%;
  width: 75%;
  margin: auto;
  padding: 2rem;
  justify-self: center;
  align-self: center;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

@media (max-width: 80rem) {
  .loading-schedule-content__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .loading-schedule-content__wrapper .loading-title {
    grid-column: 1 / 3;
  }

  .loading-schedule-content__wrapper .loading-element {
    width: 30vw;
  }
}

@media (max-width: 55rem) {
  .loading-schedule-content__wrapper {
    grid-template-columns: 1fr;
  }

  .loading-schedule-content__wrapper .loading-title {
    grid-column: 1 / 2;
  }

  .loading-schedule-content__wrapper .loading-element {
    width: 45vw;
  }
}