.page-skeleton__container {
  width: 100%;
  height: 100%;
}

.page-skeleton__container .page-skeleton__title {
  width: 80%;
  max-width: 40rem;
  height: 5rem;
  margin: 5rem auto;
}

/* progress bar */
.page-skeleton__container .loading-skeleton__container {
  margin: 20vh auto;
}
