/* standings year */
.card__container .standings-year {
  color: var(--text-color);
  font-size: 2.1rem;
  font-weight: 700;
  text-decoration: overline var(--secondary);
  letter-spacing: 2px;
}
.card__container:active .standings-year,
.card__container:hover .standings-year {
  color: var(--text-color-light);
  text-decoration: overline var(--text-color-light);
}

/* season rounds */
.card__container .standings-rounds {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 500;
}
.card__container:active .standings-rounds,
.card__container:hover .standings-rounds,
.card__container:active .standings-rounds > svg,
.card__container:hover .standings-rounds > svg {
  color: var(--text-color-light);
}


/* links */
.card__container:active .linking__container > span.link-text,
.card__container:hover .linking__container > span.link-text {
  color: var(--text-color-light);
}
.card__container:active .linking__container:active > span.link-text,
.card__container:hover .linking__container:hover > span.link-text {
  text-decoration: underline var(--text-color-light);
}
.card__container:active .linking__container.icon__container > svg,
.card__container:hover .linking__container.icon__container > svg {
  color: var(--text-color-light);
}



/* mobile styles */
@media (max-width: 40rem) {
  .card__container .standings-year {
    font-size: 1.4rem;
  }
  .card__container .standings-rounds {
    font-size: 1.15rem;
  }
}

@media (max-width: 20rem) {
  .card__container .standings-year {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .card__container .standings-rounds {
    font-size: 1rem;
  }
}
