.schedule-info > h2.season {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px;
  grid-column: 1 / 4;
  margin: 3rem 4rem;
  padding: 1.2rem 0 0.8rem 0;
  letter-spacing: 0.5rem;

  border-top: 0.5rem solid var(--primary);
  border-radius: 24px;
}
