.current-filters {
  margin-bottom: 1rem;
}

.current-filters > .filter {
  display: inline-block;
  margin: 1rem;
  padding: 0.4rem 1rem;
  background: var(--secondary);
  color: var(--text-color-light);
  border-radius: 12px;
  cursor: pointer;
}

.current-filters > .filter:hover,
.current-filters > .filter:active {
  filter: invert(8%);
}

.current-filters > .filter > .filter-key {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-variant: small-caps;
}
.current-filters > .filter > .filter-value {
  letter-spacing: 1px;
  font-size: 1.1rem;
}