.error-fallback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* layout sizes */
.error-fallback.small {
  max-width: 25rem;
  margin: 1.5rem auto;
  padding: 0 0.5rem;
  gap: 0.2rem;
}
.error-fallback.medium {
  max-width: 35rem;
  margin: 2rem auto;
  padding: 0 0.8rem;
  gap: 0.35rem;
}
.error-fallback.large {
  max-width: 50rem;
  margin: 15vh auto;
  padding: 0 1.25rem;
  gap: 0.5rem;
}

/* icon */
.error-fallback.error > svg {
  color: var(--accent-red);
}
.error-fallback.warning > svg {
  color: var(--accent-orange);
}
.error-fallback.small > svg {
  font-size: 1.6rem;
}
.error-fallback.medium > svg {
  font-size: 2.5rem;
}
.error-fallback.large > svg {
  font-size: 3.5rem;
}
@media (max-width: 40rem) {
  .error-fallback.small > svg {
    font-size: 1.4rem;
  }
  .error-fallback.medium > svg {
    font-size: 2.2rem;
  }
  .error-fallback.large > svg {
    font-size: 3rem;
  }
}

/* title */
.error-fallback p.error-title {
  color: var(--text-color);
}
.error-fallback.small p.error-title {
  font-size: 2rem;
  font-weight: 700;
}
.error-fallback.medium p.error-title {
  font-size: 2.4rem;
  font-weight: 700;
}
.error-fallback.large p.error-title {
  font-size: 3.5rem;
  font-weight: 800;
}
@media (max-width: 40rem) {
  .error-fallback.small p.error-title {
    font-size: 1.6rem;
  }
  .error-fallback.medium p.error-title {
    font-size: 1.95rem;
  }
  .error-fallback.large p.error-title {
    font-size: 2.5rem;
  }
}

/* info */
.error-fallback p.error-info {
  font-weight: 500;

  padding-bottom: 0.4rem;
  border-bottom: 1px solid var(--secondary);
}
.error-fallback.small p.error-info {
  font-size: 1.5rem;
}
.error-fallback.medium p.error-info {
  font-size: 2rem;
}
.error-fallback.large p.error-info {
  font-size: 2.6rem;
}
@media (max-width: 40rem) {
  .error-fallback.small p.error-info {
    font-size: 1.25rem;
  }
  .error-fallback.medium p.error-info {
    font-size: 1.65rem;
  }
  .error-fallback.large p.error-info {
    font-size: 2.15rem;
  }
}

/* fallback message */
.error-fallback p.error-msg {
  font-weight: 400;
  letter-spacing: 1px;
}
.error-fallback p.error-msg > a {
  font-size: 120%;
  font-weight: 700;
}
.error-fallback.error p.error-msg > a {
  color: var(--highlight);
}
.error-fallback.warning p.error-msg > a {
  color: var(--accent-orange);
}
.error-fallback.small p.error-msg {
  font-size: 1.2rem;
}
.error-fallback.medium p.error-msg {
  font-size: 1.4rem;
}
.error-fallback.large p.error-msg {
  font-size: 1.6rem;
}

.error-fallback.error p.error-msg > a:hover,
.error-fallback.error p.error-msg > a:active {
  color: var(--accent-red);
}
.error-fallback.warning p.error-msg > a:hover,
.error-fallback.warning p.error-msg > a:active {
  color: var(--accent-orange);
}

@media (max-width: 40rem) {
  .error-fallback.small p.error-msg {
    font-size: 1rem;
  }
  .error-fallback.medium p.error-msg {
    font-size: 1.2rem;
  }
  .error-fallback.large p.error-msg {
    font-size: 1.5rem;
  }
}

/* reset button */
.error-fallback.error button {
  background: var(--highlight);
  border-color: var(--highlight);
}
.error-fallback.error button:active,
.error-fallback.error button:hover {
  background: var(--accent-red);
  border-color: var(--accent-red);
}

.error-fallback.warning button {
  color: var(--text-color-light);
  background: var(--accent-orange);
  border-color: var(--accent-orange);
}
.error-fallback.warning button:active,
.error-fallback.warning button:hover {
  color: var(--text-color);
  background: var(--accent-yellow);
  border-color: var(--accent-yellow);
}
.error-fallback.warning button:active > svg,
.error-fallback.warning button:hover > svg {
  color: var(--text-color);
}
