.weekend-list {
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 5rem 0.5rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.weekend-list > .card {
  height: 80%;
  width: 75%;
  margin: auto;
  padding: 2rem;
  justify-self: center;
  align-self: center;
  border-top: 4px solid var(--secondary);
  border-left: 4px solid var(--secondary);
  border-radius: 4px;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.weekend-list > .card:hover {
  background: #ccc;
}

.weekend-list > .card > .round {
  font-size: 1.5rem;
}
.weekend-list > .card > .name {
  font-size: 2rem;
}
.weekend-list > .card > .btn {
  width: 7rem;
  margin: 0.8rem auto 0;
}

@media (max-width: 70rem) {
  .weekend-list {
    grid-template-columns: repeat(2, 50%);
    grid-gap: 5rem 0;
  }

  .weekend-list > .card {
    width: 30vw;
  }
}

@media (max-width: 45rem) {
  .weekend-list {
    grid-template-columns: 100%;
    grid-gap: 5rem 0;
  }

  .weekend-list > .card {
    width: 50vw;
  }
}