/* results filter layout */
.results-filter {
	margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* filter selector layout */
.results-filter .filter-selector {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.results-filter .filter-selector > label,
.results-filter .filter-selector > div {
	margin: 0 3rem;
	min-width: 12rem;
}

.results-filter .filter-selector > label > span {
	text-align: start;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 0.3rem;
	padding-left: 0.4rem;
	border-top: 2px solid var(--secondary);
	border-left: 4px solid var(--secondary);
	border-radius: 2px;
}
