/* weekend year */
.card__container .weekend-year {
  color: var(--text-color);
  font-size: 2.1rem;
  font-weight: 700;
  text-decoration: overline var(--secondary);
  letter-spacing: 2px;
}
.card__container:active .weekend-year,
.card__container:hover .weekend-year {
  color: var(--text-color-light);
  text-decoration: overline var(--text-color-light);
}

/* weekend date */
.card__container .weekend-date {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 500;
}
.card__container:active .weekend-date,
.card__container:hover .weekend-date,
.card__container:active .weekend-date > svg,
.card__container:hover .weekend-date > svg {
  color: var(--text-color-light);
}

/* weekend name */
.card__container .weekend-name {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 400;
}
.card__container:active .weekend-name,
.card__container:hover .weekend-name,
.card__container:active .weekend-name > svg,
.card__container:hover .weekend-name > svg {
  color: var(--text-color-light);
}

/* weekend round */
.card__container .weekend-round {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 700;

  position: absolute;
  top: 0.35rem;
  right: 0.5rem;
}
.card__container:active .weekend-round,
.card__container:hover .weekend-round {
  color: var(--text-color-light);
}

/* links */
.card__container:active .linking__container > span.link-text,
.card__container:hover .linking__container > span.link-text {
  color: var(--text-color-light);
}
.card__container:active .linking__container:active > span.link-text,
.card__container:hover .linking__container:hover > span.link-text {
  text-decoration: underline var(--text-color-light);
}
.card__container:active .linking__container.icon__container > svg,
.card__container:hover .linking__container.icon__container > svg {
  color: var(--text-color-light);
}


/* mobile styles */
@media (max-width: 40rem) {
  .card__container .weekend-year {
    font-size: 1.4rem;
  }
  .card__container .weekend-date {
    font-size: 1.15rem;
  }
  .card__container .weekend-name {
    font-size: 1rem;
  }
}

@media (max-width: 20rem) {
  .card__container .weekend-year {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .card__container .weekend-date {
    font-size: 1rem;
  }
  .card__container .weekend-name {
    margin-top: 0.25rem;
    position: relative;
  }
}
