.weekend-info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 2rem;
}

.weekend-info .next-weekend {
  color: var(--text-color);
}
.weekend-info .next-weekend .title {
  font-size: 1.7rem;
}
.weekend-info .next-weekend .race {
  font-size: 3rem;
}
.weekend-info .next-weekend .track {
  font-size: 1.5rem;
  font-weight: normal;
}
.weekend-info .next-weekend .date,
.weekend-info .next-weekend .time {
  margin: 1rem 0;
  font-weight: bold;
}
.weekend-info .next-weekend .date {
  color: var(--highlight);
  font-size: 2.5rem;
}
.weekend-info .next-weekend .time {
  color: var(--primary);
  font-size: 3rem;
}

.weekend-info .next-session {
  color: var(--text-color);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.weekend-info .next-session .title {
  font-size: 1.7rem;
}
.weekend-info .next-session .name {
  font-size: 3rem;
}