.skeleton {
  background: #bbb;
  overflow: hidden;
  margin: 0.5rem auto;
  border-radius: 4px;
  display: flex;
}
.skeleton.title {
  width: 50%;
  height: 1.8rem;
}
.skeleton.text {
  width: 100%;
  height: 1.5rem;
}
.skeleton.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.skeleton.thumbnail {
  width: 8rem;
  height: 8rem;
}


/* selector layout */
.skeleton-selector__wrapper {
  width: 10rem;
  margin: 0 auto;
}
.skeleton-selector__wrapper .text,
.skeleton-selector__wrapper .title {
  height: 2rem;
}


/* grid content layout */
.skeleton-grid__wrapper {
  width: 100%;
  margin: auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 6rem 1.2rem;
  
  grid-column: 1 / -1;
}


/* card content layout */
.skeleton-card__wrapper {
  display: flex;
  width: 25%;
  max-width: 25rem;
  min-width: 20rem;
  margin: auto;
}
.skeleton-card__wrapper .skeleton-element {
  width: 60%;
  margin: auto;
}