.navbar {
  width: 100%;
  background: var(--secondary);
  position: relative;
}
.navbar__container {
  padding: 0.8rem 2.25rem;
  display: flex;
  justify-content: space-between;
}

.navbar__container a {
  color: var(--text-color-light);
}


/* brand */
.navbar__container .brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__container .brand img {
  width: 3rem;
  margin-right: 1.5rem;
  border-radius: 4px;
}
.navbar__container .brand span {
  font-size: 2rem;
  font-weight: 600;
  font-variant: small-caps;
  text-decoration: overline;
  letter-spacing: 2px;
}


/* links */
.navbar__container ul {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.navbar__container li > a {
  padding: 0.4rem 0.7rem;
  font-size: 1.25rem;
}
.navbar__container li > a.active {
  background: var(--highlight);
  border-radius: 16px;

  color: var(--text-color-light);
  font-weight: 700;
  letter-spacing: 1px;
}
.navbar__container li > a:hover,
.navbar__container li > a:active {
  text-decoration: underline;
}


/* mobile dropdown icon */
.navbar__container svg.mobile-dropdown__icon {
  display: none;

  color: var(--text-color-light);
  font-size: 2.5rem;
  cursor: pointer;

  position: absolute;
  top: 0.8rem;
  right: 1rem;
}


@media (max-width: 50rem) {
  .navbar__container {
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__container .brand img {
    width: 2rem;
    margin-right: 0.8rem;
  }
  .navbar__container .brand span {
    font-size: 1.6rem;
  }


  .navbar__container ul {
    width: 100%;
    margin-top: 1rem;

    display: none;
    flex-direction: column;
    gap: 1.5rem;
  }
  .navbar__container ul.opened {
    display: flex;
  }

  .navbar__container svg.mobile-dropdown__icon {
    display: block;
  }
}

@media (max-width: 16rem) {
  .navbar__container .brand span {
    display: none;
  }
}
