.navbar {
  width: 100%;
  background: var(--primary);
}
.navbar .container {
  padding: 0.8rem 2.25rem;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: var(--text-color-light);
}


/* brand */
.navbar .brand {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.navbar .brand img {
  margin-right: 1rem;
  width: 2.5rem;
  border-radius: 0.2rem;
}
.navbar .brand span {
  font-size: 1.5rem;
  font-weight: bold;
}


/* links */
.navbar ul {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.navbar li > a {
  padding: 0.4rem 0.7rem;
  font-size: 1.25rem;
}
.navbar li > a.active {
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: var(--text-color);
  background: #eee;
  box-shadow: 1px 1px 1px 1px #ccc;
  border-radius: 12px;
}
.navbar li > a:hover,
.navbar li > a:active {
  text-decoration: underline;
}


@media (max-width: 50rem) {
  .navbar .container {
    padding: 1rem;
  }
  .navbar .brand span {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .navbar .brand img {
    width: 1.8rem;
  }
  .navbar a {
    font-size: 1rem;
  }
}

@media (max-width: 40rem) {
  .navbar .container ul {
    display: none;
  }
}