/* listing info container */
.listing-info__container {
  margin: 2rem 0;
}

/* filter info title */
.listing-info__container > h2 {
  width: 100%;
  margin: 2rem auto;
  padding: 0.7rem 0;
  background: var(--secondary);
  box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);

  color: var(--text-color-light);
  font-size: 2.2rem;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px rgba(170, 170, 170, 0.8);
  letter-spacing: 2px;
}

/* category cards container */
.listing-info__container > .listing-category__container {
  margin: 0 2rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 2.5rem;
}


/* category card */
.listing-category__container > .category-card {
  max-width: 35rem;
  background: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 8px;
  box-shadow: 4px 4px 6px rgba(100, 100, 100, 0.5);
}
.listing-category__container > .category-card .category-title {
  margin: 1rem;
  color: var(--text-color-light);
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(170, 170, 170, 0.8);
}
.listing-category__container > .category-card .category-data__container {
  margin: 2rem 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 4rem;
}
.listing-category__container > .category-card .category-data {
  flex: 1 0 40%;
  color: var(--text-color-light);
}
.listing-category__container > .category-card .category-data .category-data-icon {
  text-align: center;
  vertical-align: middle;
}
.listing-category__container > .category-card .category-data .category-data-title {
  vertical-align: top;
  margin-left: 0.4rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.listing-category__container > .category-card .category-data .category-data-desc {
  font-size: 1.1rem;
  font-weight: 300;
}

@media (max-width: 30rem) {
  .listing-info__container > h2 {
    font-size: 1.8rem;
  }

  .listing-category__container > .category-card .category-title {
    font-size: 1.4rem;
  }

  .listing-category__container > .category-card .category-data .category-data-title {
    font-size: 1.1rem;
  }

  .listing-category__container > .category-card .category-data .category-data-desc {
    font-size: 1rem;
  }
}