.driver-information__container {
  grid-column: 1 / -1;
  margin-bottom: 3rem;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

/* information data */
.driver-information__container h2.driver-name.page__title {
  margin-bottom: 0.8rem;
}
.driver-information__container .driver-information-data__container {
  margin-bottom: 1rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 0.5rem 3rem;
  
  position: relative;
}
.driver-information__container .driver-information-data__container > p.icon__container > svg {
  color: var(--text-color);
}


/* driver tag */
.driver-information__container .driver-tag {
  font-size: 1.8rem;
  font-weight: 800;
}
.driver-information__container .driver-tag.icon__container > svg {
  font-size: 2rem;
}

/* driver nationality, driver date of birth */
.driver-information__container .driver-nationality,
.driver-information__container .driver-date-of-birth {
  font-size: 1.5rem;
  font-weight: 500;
}
.driver-information__container .driver-nationality.icon__container > svg,
.driver-information__container .driver-date-of-birth.icon__container > svg {
  font-size: 1.7rem;
}

/* mobile styles */
@media (max-width: 40rem) {
  .driver-information__container .driver-information-data__container {
    /* information data */
    flex-direction: column;
    align-items: start;
  }

  /* driver tag */
  .driver-information__container .driver-tag {
    font-size: 1.5rem;
  }
  .driver-information__container .driver-tag.icon__container > svg {
    font-size: 1.7rem;
  }

  /* driver nationality, driver date of birth */
  .driver-information__container .driver-nationality,
  .driver-information__container .driver-date-of-birth {
    font-size: 1.2rem;
  }
  .driver-information__container .driver-nationality.icon__container > svg,
  .driver-information__container .driver-date-of-birth.icon__container > svg {
    font-size: 1.4rem;
  }
}

@media (max-width: 20rem) {
  /* driver tag */
  .driver-information__container .driver-tag {
    font-size: 1.2rem;
  }
  .driver-information__container .driver-tag.icon__container > svg {
    font-size: 1.5rem;
  }

  /* driver nationality, driver date of birth */
  .driver-information__container .driver-nationality,
  .driver-information__container .driver-date-of-birth {
    font-size: 1rem;
  }
  .driver-information__container .driver-nationality.icon__container > svg,
  .driver-information__container .driver-date-of-birth.icon__container > svg {
    font-size: 1.3rem;
  }
}
