.card__container .driver-name {
  color: var(--text-color-light);
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 1px 1px 5px rgba(50, 50, 50, 0.3);
  text-decoration: overline;
}
.card__container .driver-date-of-birth {
  margin-bottom: 0.2rem;

  color: var(--text-color-light);
  font-size: 1.15rem;
  font-weight: 300;
}
.card__container .driver-nationality {
  color: var(--text-color-light);
  font-size: 1.4rem;
  font-weight: 400;
}


/* mobile styles */
@media (max-width: 40rem) {
  .card__container .driver-name {
    font-size: 1.4rem;
  }
  .card__container .driver-date-of-birth {
    font-size: 1rem;
  }
  .card__container .driver-nationality {
    font-size: 1.15rem;
  }
}

@media (max-width: 20rem) {
  .card__container .driver-name {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .card__container .driver-nationality {
    font-size: 1rem;
  }
}
