.history-selector {
  display: flex;
  flex-direction: column;
}

.history-selector > .category-container {
  width: 50%;
  margin: 1.5rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.history-selector > .category-container > .option {
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text-color);
  letter-spacing: 0.1rem;
  background: #ddd;
  border-radius: 8px;
}

.history-selector > .category-container > .option:hover,
.history-selector > .category-container > .option:active,
.history-selector > .category-container > .option.active {
  color: var(--text-color-light);
  text-shadow: 3px 1px 2px rgba(50, 50, 50, 0.8);
  background: var(--highlight);
  border-radius: 8px;
}