.constructor-card__container {
  height: 11.25rem;
  width: 85%;
  margin: 0 auto;
  padding: 0.4rem 1rem;
  
  background: var(--secondary);

  border-top: 8px solid var(--accent-orange);
  border-left: 8px solid var(--accent-orange);
  border-radius: 10px;

  border-bottom: 6px solid var(--accent-orange);
  border-right: 6px solid var(--accent-orange);
  border-bottom-right-radius: 36px;
  border-top-left-radius: 64px;

  text-align: center;
  cursor: pointer;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.constructor-card__container:hover,
.constructor-card__container:active {
  background: var(--accent-orange);
}

/* basic info */
.constructor-card__container .constructor-name {
  color: var(--text-color-light);
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 1px 1px 5px rgba(50, 50, 50, 0.3);
  text-decoration: overline;
}
.constructor-card__container .constructor-nationality {
  margin-top: 0.1rem;

  color: var(--text-color-light);
  font-size: 1.4rem;
  font-weight: 300;
}


/* mobile styles */
@media (max-width: 95rem) {
  .constructor-card__container {
    width: 32vw;
  }
}

@media (max-width: 60rem) {
  .constructor-card__container {
    width: 50vw;
  }
}

@media (max-width: 40rem) {
  .constructor-card__container {
    height: fit-content;
    min-height: 10rem;
  }
  .constructor-card__container .constructor-name {
    font-size: 1.4rem;
  }
  .constructor-card__container .constructor-nationality {
    font-size: 1.15rem;
  }
}

@media (max-width: 20rem) {
  .constructor-card__container .constructor-name {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  .constructor-card__container .constructor-nationality {
    font-size: 1rem;
  }
}
