.card__container.schedule {
  height: 100%;
  background: var(--highlight);

  border-top: 6px solid var(--secondary);
  border-left: 6px solid var(--secondary);
  border-radius: 8px;

  border-bottom: 1px solid var(--secondary);
  border-right: 1px solid var(--secondary);
  border-top-left-radius: 48px;
  border-bottom-right-radius: 24px;

  cursor: pointer;
}
.card__container.schedule.active {
  background: var(--accent-green);
  cursor: auto;
}
.card__container.schedule.next {
  background: var(--accent-orange);
  cursor: auto;
}
.card__container.schedule.remaining {
  background: #666;
  cursor: auto;
}
.card__container.schedule:hover,
.card__container.schedule:active {
  background: var(--secondary);
}


/* mobile screens */
@media (max-width: 20rem) {
  .card__container.schedule {
    height: 18.5rem;
  }
}
