.stats__container {
  flex: 1 1 30%;
  max-width: 40rem;
}

/* stats title */
.stats__container h3.stats__title {
  margin: 0.8rem auto;
  font-size: 2rem;
  font-weight: 800;
  text-decoration: overline;
  letter-spacing: 2px;
  text-align: center;
}
@media (max-width: 40rem) {
  .stats__container h3.stats__title {
    font-size: 1.4rem;
  }
}

/* stats note */
.stats__container p.stats__note {
  margin: 0.2rem auto;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  font-style: italic;
}
@media (max-width: 40rem) {
  .stats__container p.stats__note {
    font-size: 0.65rem;
  }
}

/* stats data container */
.stats-data__container {
  /* width: 100%; */
  margin: 0 3rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
@media (max-width: 60rem) {
  .stats-data__container {
    /* width: 100%; */
    margin: 0 0.5rem;
    gap: 0.75rem;
  }
}

/* stat wrapper */
.stats-data__container .stat-data__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 60rem) {
  .stats-data__container .stat-data__wrapper {
    width: 85%;
  }
}
@media (max-width: 40rem) {
  .stats-data__container .stat-data__wrapper {
    width: 95%;
  }
}
@media (max-width: 20rem) {
  .stats-data__container .stat-data__wrapper {
    width: 100%;
    margin: auto;
  }
}

/* stat label */
.stats-data__container .stat-data__wrapper p.stat-label {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-align: start;
}
.stats-data__container .stat-data__wrapper p.icon__container > svg {
  font-size: 1.6rem;
}

/* stat data */
.stats-data__container .stat-data__wrapper span.stat-data {
  margin-left: 1.5rem;
  color: var(--highlight);
  font-size: 1.25rem;
  font-weight: 600;
  text-align: end;
}

@media (max-width: 40rem) {
  .stats-data__container .stat-data__wrapper p.stat-label {
    font-size: 1rem;
  }
  .stats-data__container .stat-data__wrapper p.icon__container > svg {
    font-size: 1.4rem;
  }
  .stats-data__container .stat-data__wrapper span.stat-data {
    margin-left: 0.7rem;
    font-size: 1.15rem;
  }
}

@media (max-width: 20rem) {
  .stats-data__container .stat-data__wrapper p.stat-label {
    font-size: 0.9rem;
  }
  .stats-data__container .stat-data__wrapper p.icon__container > svg {
    font-size: 1.25rem;
  }
  .stats-data__container .stat-data__wrapper span.stat-data {
    margin-left: 0.5rem;
    font-size: 1.05rem;
  }
}
