.stats-holder__container {
  margin: 3.5rem auto;
  display: flex;
  justify-content: center;
  align-items: start;
  row-gap: 3.5rem;
}

@media (max-width: 75rem) {
  .stats-holder__container {
    flex-direction: column;
    align-items: center;
  }
}
