.seasons-listing__container {

}

.seasons-listing__content {

}




/* temporary classes */
.note {
  margin-top: 2rem;
  margin-bottom: 5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}