.circuit-information__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* info */
.circuit-information__container .circuit-races-amount {
  margin: 0 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;

  display: flex;
  flex-flow: row wrap;
}
.circuit-information__container .circuit-races-amount span.highlight {
  font-size: 2.1rem;
  font-weight: 700;
  letter-spacing: 4px;
}
.circuit-information__container .circuit-races-amount.icon__container > svg {
  margin-right: 0.7rem;
  color: var(--text-color);
  font-size: 2.5rem;
}

@media (max-width: 40rem) {
  .circuit-information__container .circuit-races-amount {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
  .circuit-information__container .circuit-races-amount span.highlight {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 3px;
  }
  .circuit-information__container .circuit-races-amount.icon__container > svg {
    margin-right: 0.4rem;
    font-size: 1.8rem;
  }
}

/* links */
.circuit-information__container .links__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 40rem) {
  .circuit-information__container .links__container {
    flex-direction: column;
  }
}
