.circuit-information__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* info */
.circuit-information__container .circuit-races-amount {
  font-size: 2rem;
  font-weight: 600;
}
.circuit-information__container .circuit-races-amount span.highlight {
  font-size: 2.1rem;
  font-weight: 700;
  letter-spacing: 4px;
}

.circuit-information__container .circuit-races-amount.icon__container > svg {
  margin-right: 0.7rem;
  color: var(--text-color);
  font-size: 2.5rem;
}

/* links */
.circuit-information__container .circuit-locality.icon__container > svg:first-of-type {
  margin-right: 0.5rem;
  color: var(--text-color);
  font-size: 2rem;
}
.circuit-information__container .circuit-locality {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 400;
}
.circuit-information__container .circuit-locality.icon__container > svg:last-of-type {
  margin-left: 0.2rem;
  color: var(--text-color);
  font-size: 1rem;
  align-self: flex-start;
}

.circuit-information__container .links__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
