.circuit-information__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circuit-information__container .circuit-locality.icon__container > svg:first-of-type {
  margin-right: 0.5rem;
  color: var(--text-color);
  font-size: 2rem;
}
.circuit-information__container .circuit-locality {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 400;
}
.circuit-information__container .circuit-locality.icon__container > svg:last-of-type {
  margin-left: 0.2rem;
  color: var(--text-color);
  font-size: 1rem;
  align-self: flex-start;
}
