/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/* variables */
:root {
  --text-color: #333;
  --text-color-light: #ededee;
  --bg-color: #e0dcdc;
  --primary: #a32727;
  --secondary: #413f3f;
  /* --secondary: #363535; */
  --highlight: #bb5d5d;

  --accent-orange: #dbac2a;
  /* --accent-orange: #ddae2c; */
  --accent-yellow: #d8c349;
  /* --accent-yellow: #ddc95a; */
  --accent-green: #7cb95f;
  --accent-red: #ce3737;
  --error: #e00f3c;
}

body {
  margin: 0;
  font-family: Dosis, sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
}

ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}


/* global classes */
.page__container {
  max-width: 120rem;
  margin: 1rem auto;
  text-align: center;
}
.page__title {
  max-width: 60rem;
  margin: 2rem auto 1.5rem;
  padding: 1rem 4rem;

  color: var(--text-color);
  font-size: 4.5rem;
  font-weight: 800;
  font-variant: small-caps;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

  position: relative;
}
.page__title::after {
  content: "";
  height: 2px;
  width: 80%;

  background: #aaa;
  border-radius: 2px;

  position: absolute;
  bottom: 0;
  left: 10%;
}
.page__title > span.highlight {
  font-size: 5.2rem;
}

@media (max-width: 40rem) {
  .page__title {
    margin: 2rem auto;
    padding: 1rem 2rem;
    font-size: 2.5rem;
  }
  .page__title > span.highlight {
    font-size: 2.8rem;
  }
}

.btn {
  margin: 1rem;
  padding: 0.5rem 0.8rem;

  background: var(--highlight);
  border-radius: 8px;
  border: 1px solid var(--highlight);

  color: var(--text-color-light);
  font-size: 1rem;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background: var(--primary);
  border: 1px solid var(--primary);
}
.highlight {
  padding: 0 0.25rem;
  color: var(--highlight);
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.error__element {
  max-width: 16rem;
  font-size: 1.1rem;
  color: var(--text-color-light);
  background: var(--highlight);
  border-radius: 4px;
  padding: 8px;
  margin: 10px auto;
}


/* forms */
label {
  display: block;
  margin: 1.5rem auto;
}
label span {
  display: block;
  margin-bottom: 0.5rem;
}

/* icons */
.icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon__container svg {
  margin: 0.2rem;
  margin-right: 0.3rem;
  margin-left: 0.25rem;
  color: var(--text-color-light);
  vertical-align: text-bottom;
}
