/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;600;700&display=swap'); */

/* variables */
:root {
  /* https://realtimecolors.com/?colors=121211-ebebea-c5706d-212220-271319 */
  --text-color: #333;
  --text-color-light: #ededee;
  --bg-color: #ebebea;
  --primary: #e0443f;
  --secondary: #212220;
  --highlight: #ca6666;
  /* --accent: #271319; */
  --error: #e00f3c;
}

body {
  margin: 0;
  font-family: Dosis, sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
}

ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}



/* global classes */
.page__title {
  max-width: 45rem;
  margin: 4rem auto;
  padding: 0 0.5rem 1rem 0.5rem;
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--text-color);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #ccc;
}
.page__subtitle {
  max-width: fit-content;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin: auto;
  border-bottom: 2px solid #888;
}
.btn {
  background: var(--highlight);
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  color: var(--text-color-light);
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid var(--highlight);
}
.btn:hover,
.btn:active {
  background: var(--primary);
  border: 1px solid var(--primary);
}
.highlight {
  font-weight: bold;
  color: var(--highlight);
  padding: 0 0.5rem;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.loading {
  max-width: 16rem;
  font-size: 1.2rem;
  color: var(--text-color);
  padding: 8px;
  margin: 10px auto;
}
.error {
  max-width: 16rem;
  font-size: 1.1rem;
  color: var(--text-color-light);
  background: var(--highlight);
  border-radius: 4px;
  padding: 8px;
  margin: 10px auto;
}


/* forms */
label {
  display: block;
  margin: 1.5rem auto;
}
label span {
  display: block;
  margin-bottom: 0.5rem;
}
/* input, textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
} */
/* textarea {
  min-height: 160px;
} */
