.constructor-information__container {
  margin-bottom: 3rem;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

/* constructor nationality */
.constructor-information__container .constructor-nationality {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.constructor-information__container .constructor-nationality.icon__container > svg {
  color: var(--text-color);
  font-size: 1.7rem;
}


/* mobile styles */
@media (max-width: 40rem) {
  /* constructor nationality */
  .constructor-information__container .constructor-nationality {
    font-size: 1.2rem;
  }
  .constructor-information__container .constructor-nationality.icon__container > svg {
    font-size: 1.4rem;
  }
}

@media (max-width: 20rem) {
  /* constructor nationality */
  .constructor-information__container .constructor-nationality {
    font-size: 1rem;
  }
  .constructor-information__container .constructor-nationality.icon__container > svg {
    font-size: 1.3rem;
  }
}
