/* Error page & NotFound page styles */

/* globals */
.error-page__container,
.not-found-page__container {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.4rem
}
.not-found-page__container .error-code,
.error-page__container .error-code {
  font-size: 2.25rem;
  font-weight: bold;
}


/* Error page */
.error-page__title {
  font-size: 2.5rem;
}
.error-page__subtitle {
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.error-page__container .error-details {
  font-size: 1.2rem;
}


/* NotFound page */
.not-found-page__container {
  margin: 20vh;
}
.not-found-page__title {
  font-size: 3.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.not-found-page__subtitle {
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 1rem;
  padding: 0 2rem 0.5rem;
  border-bottom: 1px solid #888;
}

.not-found-page__suggestion {
  font-size: 1.7rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.not-found-page__suggestion > a {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--highlight);
}
.not-found-page__suggestion > a:hover,
.not-found-page__suggestion > a:active {
  color: var(--primary);
}